1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [148]:
def mickey_function(name1,name2):
    lista=[0]*101
    for i in range(0,101):
        if i%3==0 and i%5==0:
            lista[i]=name1+name2
        elif i%3==0:
            lista[i]=name1
        elif i%5==0:
            lista[i]=name2
        else:
            lista[i]=i
    return lista

In [149]:
Mickey_tuple=(*mickey_function("Mickey","Mouse"),)

In [150]:
Donald_tuple=(*mickey_function("Donald","Duck"),)

In [151]:
print(Mickey_tuple)
print(Donald_tuple)

('MickeyMouse', 1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse')
('DonaldDuck', 1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [50]:
def swap_function(x,y):
    lista=(x,y)
    y=lista[0]
    x=lista[1]
    return x,y

In [54]:
swap_function("a","b")

('b', 'a')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [2]:
def comp_distance(u,v):
    distance=((u[0]-v[0])**2+(u[1]-v[1])**2)**(1/2)
    return distance

In [3]:
u=(3,0)
v=(0,4)
comp_distance(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [19]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [99]:
def counting_letters(s):
    S=s.upper()
    characters=[i for i in S]
    check_list=[]
    repetitions=[]
    for i in S:
        if i not in check_list:
            number=str(S.count(i))
            check_list.append(i)
            repetitions.append(i+" appears "+number+" times ")
    return repetitions

In [100]:
counting_letters(s)

['W appears 2 times ',
 'R appears 17 times ',
 'I appears 14 times ',
 'T appears 19 times ',
 'E appears 22 times ',
 '  appears 41 times ',
 'A appears 7 times ',
 'P appears 8 times ',
 'O appears 13 times ',
 'G appears 1 times ',
 'M appears 12 times ',
 'H appears 9 times ',
 'N appears 10 times ',
 'S appears 9 times ',
 'U appears 9 times ',
 'B appears 5 times ',
 'F appears 10 times ',
 '1 appears 2 times ',
 '0 appears 2 times ',
 '. appears 2 times ',
 'L appears 6 times ',
 'C appears 3 times ',
 'K appears 2 times ',
 'Y appears 2 times ',
 'D appears 3 times ',
 'V appears 2 times ']

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [101]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [102]:
def find_unique(l):
    unique=[]
    for i in l:
        if l.count(i)==1:
            unique.append(i)
    return unique, len(unique)

In [105]:
find_unique(l)

([58,
  74,
  96,
  64,
  10,
  24,
  19,
  33,
  86,
  99,
  18,
  47,
  88,
  55,
  54,
  8,
  79,
  81,
  57,
  37,
  1,
  9,
  95,
  90,
  98,
  39,
  16,
  82,
  92,
  41,
  30,
  94,
  5,
  72,
  87,
  75,
  53],
 37)

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [106]:
def function1(x):
    return x**2

In [107]:
def function2(x):
    return x**3

In [108]:
function1(function2(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [152]:
def cubes1():
    cubes=[0]*10
    for i in range(1,11):
        cubes[i-1]=i**3
    return cubes

In [153]:
def cubes2():
    cubes=[x**3 for x in range(1,11)]
    return cubes

In [154]:
cubes1(),cubes2()

([1, 8, 27, 64, 125, 216, 343, 512, 729, 1000],
 [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000])

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [171]:
def pyth_triple():
    triple=[]
    for a in range(1,100):
        for b in range(a,100):
            c2=a**2+b**2
            c=c2**(1/2)
            if c%1==0 and c<=100:
                triple.append(str(a)+" "+str(b)+" "+str(int(c)))
    return (*triple,)

In [172]:
pyth_triple()

('3 4 5',
 '5 12 13',
 '6 8 10',
 '7 24 25',
 '8 15 17',
 '9 12 15',
 '9 40 41',
 '10 24 26',
 '11 60 61',
 '12 16 20',
 '12 35 37',
 '13 84 85',
 '14 48 50',
 '15 20 25',
 '15 36 39',
 '16 30 34',
 '16 63 65',
 '18 24 30',
 '18 80 82',
 '20 21 29',
 '20 48 52',
 '21 28 35',
 '21 72 75',
 '24 32 40',
 '24 45 51',
 '24 70 74',
 '25 60 65',
 '27 36 45',
 '28 45 53',
 '28 96 100',
 '30 40 50',
 '30 72 78',
 '32 60 68',
 '33 44 55',
 '33 56 65',
 '35 84 91',
 '36 48 60',
 '36 77 85',
 '39 52 65',
 '39 80 89',
 '40 42 58',
 '40 75 85',
 '42 56 70',
 '45 60 75',
 '48 55 73',
 '48 64 80',
 '51 68 85',
 '54 72 90',
 '57 76 95',
 '60 63 87',
 '60 80 100',
 '65 72 97')

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [183]:
import numpy as np

In [189]:
def normalize(a):
    array=np.asarray(a)
    lista=[0]*len(a)
    for i in range(0,len(a)):
        lista[i]=i**2
    coefficient=1/sum(lista)
    return tuple(coefficient*array)

In [190]:
a=[1,5,6,8,2]
normalize(a)

(0.03333333333333333,
 0.16666666666666666,
 0.2,
 0.26666666666666666,
 0.06666666666666667)