# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [2]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print ("xs:", xs,'\n')
print ("xs indexes:",xs.index,'\n')
# Values of the Series are actually a numpy array
print ("xs values:", xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')
print (type(xs[['d', 'f', 'h']]), '\n')

xs: a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

xs indexes: Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

xs values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

<class 'pandas.core.series.Series'>

In [3]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [4]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without considering whether the Series involved have the same labels.

In [5]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
print(s)
s = s[1:] + s[:-1]
print(s)

a    0.565993
b    1.854002
c   -1.036641
d   -0.199005
e   -1.584779
dtype: float64
a         NaN
b    3.708003
c   -2.073283
d   -0.398009
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas has a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [6]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
print(date)

date = dt.datetime(2022,11,30,10,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 30 2022'
# or alternatively
date = '30/11/2022 10:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2022-12-11
2022-11-30 10:45:10.000015
30/11/2022 10:45:00
DatetimeIndex(['2022-11-30 10:45:00', '2022-12-01 10:45:00',
               '2022-12-02 10:45:00', '2022-12-03 10:45:00',
               '2022-12-04 10:45:00', '2022-12-05 10:45:00',
               '2022-12-06 10:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2022-11-30 10:45:00', '2022-11-30 10:45:01',
               '2022-11-30 10:45:02', '2022-11-30 10:45:03',
               '2022-11-30 10:45:04', '2022-11-30 10:45:05',
               '2022-11-30 10:45:06', '2022-11-30 10:45:07',
               '2022-11-30 10:45:08', '2022-11-30 10:45:09',
               ...
               '2022-11-30 11:44:50', '2022-11-30 11:44:51',
               '2022-11-30 11:44:52', '2022-11-30 11:44:53',
               '2022-11-30 11:44:54', '2022-11-30 11:44:55',
               '2022-11-30 11:44:56', '2022-11-30 11:44:57',
               '2022-11-30 11:44:58', '2022-11-30 11:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset.

Timestamp is the pandas equivalent of pythonâ€™s Datetime and is interchangeable with it in most cases.

In [7]:
tstamp = pd.Timestamp(dt.datetime(2020, 11, 9))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print (type(ts))
print (ts.value)
ts = pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M')
print (ts)
print (ts.value)

1604880000000000000
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
1289520000000000000
2010-11-12 00:00:00
1289520000000000000

A standard series can be created and (range of) elements can be used as indexes

In [8]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2022-11-30':'2022-12-01'], '\n') # Note - includes end time

2022-11-30 10:45:00    11.199740
2022-12-01 10:45:00     9.637911
2022-12-02 10:45:00    10.080357
2022-12-03 10:45:00     9.356979
Freq: D, dtype: float64

2022-11-30 10:45:00    11.199740
2022-12-01 10:45:00     9.637911
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [9]:
pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06', '1980-02-07'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [10]:
entries=10
dates=pd.date_range('11/30/2022 10:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2022-11-30 10:45:00 -0.331961 -0.805800 -0.368974 -1.759298
2022-11-30 11:45:00  0.299541  0.227297  0.174293 -0.214751
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  1.026579
2022-11-30 13:45:00  1.866593 -1.934015  1.404009  1.141021
2022-11-30 14:45:00  0.061372 -0.164487 -0.898007 -2.043883
2022-11-30 15:45:00  1.771041  0.344225 -1.159654 -0.973939
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  0.651774
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  0.551999
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299 -0.875733
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  0.671648

or by means of a dictionary:

In [11]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )
df2

# check what happens if D and E had different lenghts

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [12]:
df.head(2)

                            A         B         C         D
2022-11-30 10:45:00 -0.331961 -0.805800 -0.368974 -1.759298
2022-11-30 11:45:00  0.299541  0.227297  0.174293 -0.214751

In [13]:
df.tail(4)

                            A         B         C         D
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  0.651774
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  0.551999
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299 -0.875733
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  0.671648

In [14]:
df.index

DatetimeIndex(['2022-11-30 10:45:00', '2022-11-30 11:45:00',
               '2022-11-30 12:45:00', '2022-11-30 13:45:00',
               '2022-11-30 14:45:00', '2022-11-30 15:45:00',
               '2022-11-30 16:45:00', '2022-11-30 17:45:00',
               '2022-11-30 18:45:00', '2022-11-30 19:45:00'],
              dtype='datetime64[ns]', freq='H')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.values

array([[-0.33196073, -0.80579973, -0.36897362, -1.7592976 ],
       [ 0.29954074,  0.22729706,  0.17429341, -0.21475056],
       [ 0.77663199, -0.25943427, -1.2865442 ,  1.02657887],
       [ 1.86659294, -1.93401525,  1.40400898,  1.14102088],
       [ 0.06137153, -0.16448746, -0.89800718, -2.04388286],
       [ 1.77104077,  0.3442252 , -1.15965383, -0.97393941],
       [-0.74659758, -0.87147761,  0.86592439,  0.6517742 ],
       [-0.02513376, -0.66952973,  1.16545356,  0.55199884],
       [-0.07609016,  1.99359281, -0.90429856, -0.87573255],
       [-0.10995911,  0.1988987 ,  0.87675579,  0.67164787]])

In [17]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.348544  -0.194073  -0.013104  -0.182458
std     0.868504   1.027365   1.034785   1.166080
min    -0.746598  -1.934015  -1.286544  -2.043883
25%    -0.101492  -0.771732  -0.902726  -0.949388
50%     0.018119  -0.211961  -0.097340   0.168624
75%     0.657359   0.220197   0.874048   0.666679
max     1.866593   1.993593   1.404009   1.141021

In [18]:
df.T

,2022-11-30 10:45:00,2022-11-30 11:45:00,2022-11-30 12:45:00,2022-11-30 13:45:00,2022-11-30 14:45:00,2022-11-30 15:45:00,2022-11-30 16:45:00,2022-11-30 17:45:00,2022-11-30 18:45:00,2022-11-30 19:45:00
A,-0.331961,0.299541,0.776632,1.866593,0.061372,1.771041,-0.746598,-0.025134,-0.076090,-0.109959
B,-0.805800,0.227297,-0.259434,-1.934015,-0.164487,0.344225,-0.871478,-0.669530,1.993593,0.198899
C,-0.368974,0.174293,-1.286544,1.404009,-0.898007,-1.159654,0.865924,1.165454,-0.904299,0.876756
D,-1.759298,-0.214751,1.026579,1.141021,-2.043883,-0.973939,0.651774,0.551999,-0.875733,0.671648

In [19]:
df.sort_index(axis=0,ascending=True)

                            A         B         C         D
2022-11-30 10:45:00 -0.331961 -0.805800 -0.368974 -1.759298
2022-11-30 11:45:00  0.299541  0.227297  0.174293 -0.214751
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  1.026579
2022-11-30 13:45:00  1.866593 -1.934015  1.404009  1.141021
2022-11-30 14:45:00  0.061372 -0.164487 -0.898007 -2.043883
2022-11-30 15:45:00  1.771041  0.344225 -1.159654 -0.973939
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  0.651774
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  0.551999
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299 -0.875733
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  0.671648

In [20]:
df.sort_values(by="C")

                            A         B         C         D
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  1.026579
2022-11-30 15:45:00  1.771041  0.344225 -1.159654 -0.973939
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299 -0.875733
2022-11-30 14:45:00  0.061372 -0.164487 -0.898007 -2.043883
2022-11-30 10:45:00 -0.331961 -0.805800 -0.368974 -1.759298
2022-11-30 11:45:00  0.299541  0.227297  0.174293 -0.214751
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  0.651774
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  0.671648
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  0.551999
2022-11-30 13:45:00  1.866593 -1.934015  1.404009  1.141021

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [21]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2022-11-30 10:45:00   -0.331961
2022-11-30 11:45:00    0.299541
2022-11-30 12:45:00    0.776632
2022-11-30 13:45:00    1.866593
2022-11-30 14:45:00    0.061372
2022-11-30 15:45:00    1.771041
2022-11-30 16:45:00   -0.746598
2022-11-30 17:45:00   -0.025134
2022-11-30 18:45:00   -0.076090
2022-11-30 19:45:00   -0.109959
Freq: H, Name: A, dtype: float64

2022-11-30 10:45:00   -0.331961
2022-11-30 11:45:00    0.299541
2022-11-30 12:45:00    0.776632
2022-11-30 13:45:00    1.866593
2022-11-30 14:45:00    0.061372
2022-11-30 15:45:00    1.771041
2022-11-30 16:45:00   -0.746598
2022-11-30 17:45:00   -0.025134
2022-11-30 18:45:00   -0.076090
2022-11-30 19:45:00   -0.109959
Freq: H, Name: A, dtype: float64

In [22]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2022-11-30 10:45:00":"2022-11-30 12:45:00"])

                            A         B         C         D
2022-11-30 10:45:00 -0.331961 -0.805800 -0.368974 -1.759298
2022-11-30 11:45:00  0.299541  0.227297  0.174293 -0.214751
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  1.026579
                            A         B         C         D
2022-11-30 10:45:00 -0.331961 -0.805800 -0.368974 -1.759298
2022-11-30 11:45:00  0.299541  0.227297  0.174293 -0.214751
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  1.026579

### Selection by label

In [23]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A   -0.331961
B   -0.805800
C   -0.368974
D   -1.759298
Name: 2022-11-30 10:45:00, dtype: float64

In [24]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]
#a=df.loc[:,['A','B']]

                            A         B
2022-11-30 10:45:00 -0.331961 -0.805800
2022-11-30 11:45:00  0.299541  0.227297
2022-11-30 12:45:00  0.776632 -0.259434
2022-11-30 13:45:00  1.866593 -1.934015
2022-11-30 14:45:00  0.061372 -0.164487
2022-11-30 15:45:00  1.771041  0.344225
2022-11-30 16:45:00 -0.746598 -0.871478
2022-11-30 17:45:00 -0.025134 -0.669530
2022-11-30 18:45:00 -0.076090  1.993593
2022-11-30 19:45:00 -0.109959  0.198899

In [25]:
# showing label slicing, both endpoints are included:
df.loc['2022-11-30 14:45:00':'2022-11-30 16:45:00',['A','B']]

                            A         B
2022-11-30 14:45:00  0.061372 -0.164487
2022-11-30 15:45:00  1.771041  0.344225
2022-11-30 16:45:00 -0.746598 -0.871478

In [26]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

0.2995407354293942
0.2995407354293942

### Selecting by position

In [27]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    1.866593
B   -1.934015
C    1.404009
D    1.141021
Name: 2022-11-30 13:45:00, dtype: float64

                            A         B
2022-11-30 13:45:00  1.866593 -1.934015
2022-11-30 14:45:00  0.061372 -0.164487

In [28]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2022-11-30 11:45:00  0.299541  0.174293
2022-11-30 12:45:00  0.776632 -1.286544
2022-11-30 14:45:00  0.061372 -0.898007

In [29]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2022-11-30 11:45:00  0.299541  0.227297  0.174293 -0.214751
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  1.026579

                            B         C
2022-11-30 10:45:00 -0.805800 -0.368974
2022-11-30 11:45:00  0.227297  0.174293
2022-11-30 12:45:00 -0.259434 -1.286544
2022-11-30 13:45:00 -1.934015  1.404009
2022-11-30 14:45:00 -0.164487 -0.898007
2022-11-30 15:45:00  0.344225 -1.159654
2022-11-30 16:45:00 -0.871478  0.865924
2022-11-30 17:45:00 -0.669530  1.165454
2022-11-30 18:45:00  1.993593 -0.904299
2022-11-30 19:45:00  0.198899  0.876756

In [30]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

0.2272970599183702

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [31]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2022-11-30 11:45:00  0.299541  0.227297  0.174293 -0.214751
2022-11-30 15:45:00  1.771041  0.344225 -1.159654 -0.973939
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299 -0.875733
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  0.671648

In [32]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2022-11-30 10:45:00       NaN       NaN       NaN       NaN
2022-11-30 11:45:00  0.299541  0.227297  0.174293       NaN
2022-11-30 12:45:00  0.776632       NaN       NaN  1.026579
2022-11-30 13:45:00  1.866593       NaN  1.404009  1.141021
2022-11-30 14:45:00  0.061372       NaN       NaN       NaN
2022-11-30 15:45:00  1.771041  0.344225       NaN       NaN
2022-11-30 16:45:00       NaN       NaN  0.865924  0.651774
2022-11-30 17:45:00       NaN       NaN  1.165454  0.551999
2022-11-30 18:45:00       NaN  1.993593       NaN       NaN
2022-11-30 19:45:00       NaN  0.198899  0.876756  0.671648

### Setting

Combination of selection and setting of values

In [33]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [34]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.805800 -0.368974  5  0.0        0  1.000000
2022-11-30 11:45:00  0.299541  0.227297  0.174293  5  0.5        2  0.999962
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  5  1.0        4  0.999848
2022-11-30 13:45:00  1.866593 -1.934015  1.404009  5  1.5        6  0.999657
2022-11-30 14:45:00  0.061372 -0.164487 -0.898007  5  2.0        8  0.999391
2022-11-30 15:45:00  1.771041  0.344225 -1.159654  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  5  3.0       12  0.998630
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  5  3.5       14  0.998135
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  5  4.5       18  0.996917

In [35]:
# another example of global setting
df2=df.copy()

df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.805800 -0.368974 -5  0.0        0 -1.000000
2022-11-30 11:45:00 -0.299541 -0.227297 -0.174293 -5 -0.5       -2 -0.999962
2022-11-30 12:45:00 -0.776632 -0.259434 -1.286544 -5 -1.0       -4 -0.999848
2022-11-30 13:45:00 -1.866593 -1.934015 -1.404009 -5 -1.5       -6 -0.999657
2022-11-30 14:45:00 -0.061372 -0.164487 -0.898007 -5 -2.0       -8 -0.999391
2022-11-30 15:45:00 -1.771041 -0.344225 -1.159654 -5 -2.5      -10 -0.999048
2022-11-30 16:45:00 -0.746598 -0.871478 -0.865924 -5 -3.0      -12 -0.998630
2022-11-30 17:45:00 -0.025134 -0.669530 -1.165454 -5 -3.5      -14 -0.998135
2022-11-30 18:45:00 -0.076090 -1.993593 -0.904299 -5 -4.0      -16 -0.997564
2022-11-30 19:45:00 -0.109959 -0.198899 -0.876756 -5 -4.5      -18 -0.996917

In [36]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.805800 -0.368974  5  0.0        0  1.000000
2022-11-30 11:45:00  0.299541  0.227297  0.174293  5  0.5        2  0.999962
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  5  1.0        4  0.999848
2022-11-30 13:45:00  1.866593 -1.934015  1.404009  5  1.5        6  0.999657
2022-11-30 14:45:00  0.061372 -0.164487 -0.898007  5  2.0        8  0.999391
2022-11-30 15:45:00  1.771041  0.344225 -1.159654  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  5  3.0       12  0.998630
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  5  3.5       14  0.998135
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  5  4.5       18  0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [37]:
# Dropping by column
df.drop(['E prime'], axis=1)

#which is equivalent to
new_df=df.drop(columns=['E prime'])
new_df

                            A         B         C  D    E    cosine
2022-11-30 10:45:00  0.000000 -0.805800 -0.368974  5  0.0  1.000000
2022-11-30 11:45:00  0.299541  0.227297  0.174293  5  0.5  0.999962
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  5  1.0  0.999848
2022-11-30 13:45:00  1.866593 -1.934015  1.404009  5  1.5  0.999657
2022-11-30 14:45:00  0.061372 -0.164487 -0.898007  5  2.0  0.999391
2022-11-30 15:45:00  1.771041  0.344225 -1.159654  5  2.5  0.999048
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  5  3.0  0.998630
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  5  3.5  0.998135
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299  5  4.0  0.997564
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  5  4.5  0.996917

In [38]:
# Dropping by raws
# safe and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.805800 -0.368974  5  0.0        0  1.000000
2022-11-30 15:45:00  1.771041  0.344225 -1.159654  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  5  3.0       12  0.998630
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  5  3.5       14  0.998135
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  5  4.5       18  0.996917

In [39]:
df

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.805800 -0.368974  5  0.0        0  1.000000
2022-11-30 11:45:00  0.299541  0.227297  0.174293  5  0.5        2  0.999962
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  5  1.0        4  0.999848
2022-11-30 13:45:00  1.866593 -1.934015  1.404009  5  1.5        6  0.999657
2022-11-30 14:45:00  0.061372 -0.164487 -0.898007  5  2.0        8  0.999391
2022-11-30 15:45:00  1.771041  0.344225 -1.159654  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  5  3.0       12  0.998630
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  5  3.5       14  0.998135
2022-11-30 18:45:00 -0.076090  1.993593 -0.904299  5  4.0       16  0.997564
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  5  4.5       18  0.996917

In [40]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2022-11-30 18:45:00"))

                            A         B         C  D    E  E prime    cosine
2022-11-30 10:45:00  0.000000 -0.805800 -0.368974  5  0.0        0  1.000000
2022-11-30 11:45:00  0.299541  0.227297  0.174293  5  0.5        2  0.999962
2022-11-30 12:45:00  0.776632 -0.259434 -1.286544  5  1.0        4  0.999848
2022-11-30 13:45:00  1.866593 -1.934015  1.404009  5  1.5        6  0.999657
2022-11-30 14:45:00  0.061372 -0.164487 -0.898007  5  2.0        8  0.999391
2022-11-30 15:45:00  1.771041  0.344225 -1.159654  5  2.5       10  0.999048
2022-11-30 16:45:00 -0.746598 -0.871478  0.865924  5  3.0       12  0.998630
2022-11-30 17:45:00 -0.025134 -0.669530  1.165454  5  3.5       14  0.998135
2022-11-30 19:45:00 -0.109959  0.198899  0.876756  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [ ]:
df_wNan = df[df>0]
df_wNan

In [ ]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

In [ ]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

In [ ]:
# filling missing data
df_wNan.fillna(value=0)

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [ ]:
df_wNan.fillna(method='pad')

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [ ]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

In [ ]:
# global operations on columns
df.apply(np.cumsum)

In [ ]:
df

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

Let's play it hard and load (in memory) a (relatively) large dataset

In [ ]:
# WARNING! link in past notebook was wrong!, (if needed) get the right file from:
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

file_name="~/data/data_000637.txt"
data=pd.read_csv(file_name)
data

Let's now do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
data['timens']

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
#pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
print(left)
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
print(right)
pd.merge(left,right,on="key")

## Grouping

By â€œgroup byâ€ we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [ ]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method â€œcompressesâ€ a level in the DataFrameâ€™s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
import matplotlib.pyplot as plt

pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
pdf = pdf.cumsum()
plt.figure(); pdf.plot(); plt.legend(loc='best')